.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "Picture Information Information Information" "Picture Information Information Information" ". . . .";
}

.Picture { grid-area: Picture; }

.Information { grid-area: Information; }

.Review-Area { grid-area: 3 / 1 / 4 / 5; }
